name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        stack-lts:
          - lts-23.0  # GHC 9.8.4
          - lts-24.0  # GHC 9.10.2
          - nightly-2025-07-15 # GHC 9.12.2
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Cache ~/.stack
        uses: actions/cache@v4
        with:
          path: ~/.stack
          key: ${{ runner.os }}-stack-global-${{ matrix.stack-lts }}-${{ hashFiles('package.yaml') }}
          restore-keys: |
            ${{ runner.os }}-stack-global-${{ matrix.stack-lts }}-

      - name: Cache .stack-work
        uses: actions/cache@v4
        with:
          path: .stack-work
          key: ${{ runner.os }}-stack-work-${{ matrix.stack-lts }}-${{ hashFiles('package.yaml') }}-${{ hashFiles('**/*.hs') }}
          restore-keys: |
            ${{ runner.os }}-stack-work-${{ matrix.stack-lts }}-

      - name: Versions
        run: |
          stack --version
          stack ghc --resolver ${{ matrix.stack-lts }} -- --version

      - name: Build and Test
        run: >
          stack build
          iota:test:iota-test
          --resolver ${{ matrix.stack-lts }}
          --pedantic
          --ghc-options="-fno-ignore-asserts -fcheck-prim-bounds"
